<style>

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
</style>
<center>
<table class="styled-table">
    <thead>
        <tr>
            <th>__name__</th>
            <th>__country__</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Clouds</td>
            <td>__clouds__%</td>
        </tr>
        <tr class="active-row">
            <td>DateTime</td>
            <td>__dt__</td>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>__temp__</td>
        </tr>
        <tr class="active-row">
            <td>Feels Like</td>
            <td>__feels_like__</td>
        </tr>
        <tr>
            <td>Humidity</td>
            <td>__humidity__%</td>
        </tr>
        <tr class="active-row">
            <td>Sunrise</td>
            <td>__sunrise__</td>
        </tr>
        <tr>
            <td>SunSet</td>
            <td>__sunset__</td>
        </tr>
    </tbody>
</table>
</center>
